.imagens {
    background-color: white;
    border: rgb(197, 197, 197) solid 3px;
    border-radius: 2px;
    
    width: 300px;
    height: 300px;
    
}

.imagens:hover {
    border-color: rgb(0, 0, 0);

}