.tituloLane {
    text-align: center;
    color:white;
    margin-bottom: 20px;
}

.topLaners {
    display: grid;
    grid-template-columns: 300px;
 

}

.junglers {
    margin-left: 635px;
    display: grid;
    grid-template-columns: 300px;
 

}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px auto;
}